html, body {
  height: 100%;
  margin: 0; /* 移除默认边距 */
  padding: 0;
}
.frame {
  background-color: #181e27;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .overlap-group-wrapper {
  background-color: #181e27;
  overflow: hidden;
  width: 1728px;
  height: 1117px;
}

.frame .overlap-group {
  position: relative;
  width: 1764px;
  height: 1097px;
  top: 20px;
}

.frame .rectangle {
  position: absolute;
  width: 1728px;
  height: 307px;
  top: 790px;
  left: 0;
  background-color: #e5e76d;
}

.frame .div {
  position: absolute;
  width: 228px;
  height: 43px;
  top: 0;
  left: 20px;
  border-radius: 10px 10px 0px 0px;
  border: 3px solid;
  border-color: #e6e86e;
}

.frame .text-wrapper {
  position: absolute;
  width: 398px;
  top: 823px;
  left: 1366px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #181f28;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .polygon {
  top: 876px;
  position: absolute;
  width: 71px;
  height: 62px;
  left: 21px;
}

.frame .img {
  top: 936px;
  position: absolute;
  width: 71px;
  height: 62px;
  left: 21px;
}

.frame .polygon-2 {
  top: 996px;
  position: absolute;
  width: 71px;
  height: 62px;
  left: 21px;
}

.frame .rectangle-2 {
  position: absolute;
  width: 1667px;
  height: 750px;
  top: 40px;
  left: 20px;
  border-top-width: 3px;
  border-top-style: solid;
  border-right-width: 3px;
  border-right-style: solid;
  border-left-width: 3px;
  border-left-style: solid;
  border-color: #e6e86e;
}

.frame .text-wrapper-2 {
  position: absolute;
  width: 206px;
  top: 13px;
  left: 31px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #e6e86e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .line {
  position: absolute;
  width: 3px;
  height: 626px;
  top: 471px;
  left: 20px;
}

.frame .text-wrapper-3 {
  position: absolute;
  width: 1552px;
  top: 547px;
  left: 9px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #e6e86e;
  font-size: 250px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}